
@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData"["Title"]</h1>

<form>
    Voornaam: <input type="text" name="firstname" />
    Achternaam: <input type="text" name="lastname" />
    <input type="submit" name="opslaan" />
</form>
