
html {
    margin: 0px;
    height: 100%;
    width: 100%;
}
body{
    background-color: #691740;
    margin:0;
    min-height: 100%;
    width: 100%;
}

header{
    height: 90px;
}

nav {
    position: absolute;
    background-color: #081842;
    width: 100%;
    height: 75px;
}
search {
    position: absolute;
    width: 186px;
    height: 40px;
    right: 5%;
    top: 25%;

    background: #36270B;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 15px;


    text-align: center;
    justify-content: center;
    font-size: 20px;
    color: antiquewhite;

}

div{
    height: 400px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border: 2px solid #081842;
    height: 45px;
}

