
html {
    margin: 0px;
    height: 100%;
    width: 100%;
}
body{
    background-color: #691740;
    margin:0;
    min-height: 100%;
    width: 100%;
}

header{
    height: 90px;
}

nav {
    position: absolute;
    background-color: #081842;
    width: 1280px;
    height: 75px;
}
zoek {
    position: absolute;
    width: 186px;
    height: 42px;
    left: 1080px;
    top: 18.5px;

    background: #36270B;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 15px;
}

div{
    height: 400px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border: 2px solid #081842;
    height: 45px;
}

