
body{
    margin:0;
}

header{
    background-color:aquamarine;
    height: 50px;
}

nav{
    background-color:burlywood;
    height: 100px;
}

div{
    background-color: coral;
    height: 400px;
}

footer{
    background-color: darkcyan;
    height: 50px;
}

