<!DOCTYPE html>
<html>
<header>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    header
</header>

<nav>
    nav
 </nav>  
 
<div>
  body
    @RenderBody()
   
</div>

<footer> 
    footer
</footer>
</html>
