<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

  <nav>
    <search>
        Search 
    </search>
 </nav>
 

    body
    @RenderBody()

   
<footer> 
    footer
</footer>
</html>
