<!DOCTYPE html>
<html>
<header>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    header
</header>

< 
 
<div>
  <nav>
    <search>
        Search 
    </search>
 </nav> 
 
 body
    @RenderBody()
   
</div>

<footer> 
    footer
</footer>
</html>
